<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:500,300,700,400' rel='stylesheet' type='text/css'>
  <link href="css/project.css" rel="stylesheet" />

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  

</head>

<body ng-app="app">
  <!-- Modules -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="js/app/app.js"></script>
  
  <!-- Controllers -->
  <script src="js/controllers/communivoice.js"></script>

  <div class="header">
      <a href="/#projects">
        <h1>&#8592 Back</h1>
      </a>
  </div>

  <div class="main" ng-controller="communivoice">
    <div class="jumbotron" id="about">
      <div class="row">
      <h1> {{title}} </h1>
      </div>
      <img ng-src="{{ picture }}">
      <div class="container">
        <h1>About</h1>
        <p>
          {{data}}
        </p>
      </div>
    </div>
  </div>
  
</body>

</html>
