html,
body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width: 100%;
}
.header {
 padding: 15px;
 background-color: black;
 color: white;
}
.header img {
 display: inline-block;
}
.header h1 {
 display: inline-block;
}
.main {
 background-color: #f2f2f2;
 padding: 0px 0;
}
.main h1 {
 color: black;
 font-size: 48px;
 margin: 0 0 0px 0;
 text-align: Center;
}
.main h2 {
 background-color: #DDDDDD;
 color: #999999;
 font-size: 20px;
 margin: 0 0 40px 0;
 padding: 20px 0;
}
p {
 padding: 50px 250px 0px 250px;
}
#projects {
 width:100%;
 background-color:white;
}
#blog-header {
 color:white;
}
#blog {
 width:100%;
 background-color:black;
 color:white;
}
.jumbotron {
 background: white;
 margin-bottom: 0px;
}
.thumbnail {
 border: 0px;
 position: relative;
 padding: 50px;
 border-radius: 0;
 margin-bottom: 50px;
}
.thumbnail img {
 margin-top: 10px;
 margin-bottom: 30px;
 max-width: 100%;
}
.footer {
 text-align: center;
 margin: 0px 0 0px;
 color:white;
 background-color:black;
}
.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}
.footer img {
 margin: 0 10px;
}
