html,
body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width: 100%;
}
.header {
 padding: 15px;
 background-color: black;
 color: white;
}
.header img {
 display: inline-block;
}
.header h1 {
 display: inline-block;
}
.main {
 background-color: #f2f2f2;
 padding: 0px 0;
}
.main h1 {
 color: black;
 font-size: 48px;
 margin: 0 0 0px 0;
 text-align: Center;
}
.main h2 {
 background-color: #DDDDDD;
 color: #999999;
 font-size: 20px;
 margin: 0 0 40px 0;
 padding: 20px 0;
}
p {
 padding: 50px 150px 0px 150px;
}
#projects {
 width:100%;
 background-color:white;
}
#blog-header {
 color:white;
}
#blog {
 width:100%;
 background-color:black;
 color:white;
}
.container {
 max-width: 880px;
}
.title {
 padding: 10px 0px 0px 0px;
 /*vertical-align:Baseline;*/
 color: #444;
 margin: 0;
 text-align:Center;
 font-size: Normal;
 font-weight: 800;
}

.aboutscroll {
 margin-left:5em; 
}
.blogscroll {
 margin-left:1em; 
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
background-color: #ff9000;
}

.back-to-top i {
  font-size: 60px;
}

.jumbotron {
 background: white;
 margin-bottom: 0px;
}
.thumbnail {
 border: 10px;
 position: relative;
 padding: 50px;
 border-radius: 10px;
 /*margin-bottom: 50px;*/
}
.thumbnail img {
 /*margin-top: 10px;*/
 /*margin-bottom: 30px;*/
 max-width: 100%;
}
.footer {
 text-align: center;
 margin: 0px 0 0px;
 color:white;
 background-color:black;
}
.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}
.footer img {
 margin: 0 10px;
}

.menu {
  background: #1abc9c;
  display: none;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu ul li {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 15px 0;
  text-transform: uppercase;
}

.menu ul li:hover { background: #16a085; }

.menu a {
  text-decoration: none;
  color: #fff;
}

#page-header-bg {
  width: 100%;
  background-color: #033142;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  height: 370px;
  margin-bottom: 0;
  margin-top: -70px;
  color: #fff;
}